<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>primesgame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A0DEDA21CAB2F0100FE1F3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A0DEDB61CAB2F0100FE1F3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A0DEDC11CAB2F0100FE1F3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
